NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gym_management?schema=public
JWT_ACCESS_SECRET=change-this-access-secret-min-32-chars
JWT_REFRESH_SECRET=change-this-refresh-secret-min-32-chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
TZ=America/La_Paz
UPLOAD_MAX_SIZE_MB=5
EXCEL_IMPORT_PATH=../../../Gimnasio_Calistenia_Gestion_v2Final (recuperacion).xlsm
