# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/
.nyc_output/

# Uploads / runtime files
uploads/

# Prisma
prisma/*.db
prisma/*.db-journal

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
